<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="CMU_Point_Of_Sale_System.Properties.Settings.TestPOSConnectionString"
        connectionString="Data Source=SAMSUNGLAPTOP;Initial Catalog=TestPOS;Persist Security Info=True;User ID=Zhack;Password=backfire"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
